<h1>Chat room</h1>
<div id="messages">
 <%= render @messages %>
</div>
<form>
  <label>Say something:</label>
  <input id="channel" type="text" data-behavior="room_speaker" data-room="<%= @room.id %>">
</form>